.chat-window {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--bg-color);
}

.chat-window-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  padding: 20px;
  background: var(--bg-color);
  color: var(--text-color);
  height: 96.5%;
}


.chat-header {
  margin-bottom: 10px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 4px;
}

.chat-bubble {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 60%;
  word-wrap: break-word;
}

.incoming {
  background: rgb(166, 165, 165);
  color: white;
  align-self: flex-start;
}

.outgoing {
  background: #09b89e;
  color: #fff;
  align-self: flex-end;
}


.chat-input {
  display: flex;
  gap: 10px;
  border-top: 1px solid var(--border-color);
  padding-top: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  background-color: #00a78f;
  color: var(--text-color);
  border: 1px solid var(--input-border);
}

.chat-input button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #00a78f;
  color: #fff;
  cursor: pointer;
}

.chat-input button:hover {
  opacity: 0.9;
}