.sidebar {
  width: 250px;
  background-color: var(--sidebar-bg);
  border: 2px solid var(--border-color);
  border-radius: 12px;
  padding: 20px;
  margin-right: 10px;
  color: var(--text-color);
}
.sidebar h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.sidebar .chat-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar ul li:hover {
  background-color: var(--border-color);
}
.sidebar ul li.active {
  background-color:  #00a78f;
  color: #fff;
}
.unread-indicator {
  color: red;
  font-size: 20px;
  margin-left: 6px;
}

.group-title {
  margin-bottom: 2px; /* Reduce space between title and button */
  font-size: 1.1rem;
}

.group-header {
  margin-bottom: 8px; /* Slight spacing before the list */
}

.group-header button {
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #00a78f;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 2px;
}

.group-header button:hover {
  opacity: 0.9;
}
