html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
}


.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.login-simple-bg {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../ComponentsMain/SBBG.png'); /* No slash at the start */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-simple-card {
  background-color: var(--sidebar-bg);
  padding: 2rem 2.5rem;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-card h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--text-color);
}

.login-simple-card label {
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  color: var(--text-color);
}

.login-simple-card input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.subheader {
  font-size: 1rem;
  color: #d1d1d1;
  text-align: center;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.login-simple-card button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  background-color: #00a78f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.login-simple-card button:hover {
  background-color: #00a78f;
}

.footer-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.85rem;
}

.footer-link a {
  color: #00bfa5;
  text-decoration: none;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
